@import "tailwindcss";

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(17, 94, 89, 0.4);
  /* border-radius: 4px; */
  /* margin-top: 70px; */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(17, 94, 89, 0.6);
  border-radius: 4px;
}

* {
  font-family: "Inter", Verdana, sans-serif;
}
